@page "/bio/{CharID}"
@inject HttpClient Http
<h3>Bio</h3>

@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Eye Colour</th>
                <th>Hair Colour</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@characters.Name</td>
                    <td>@characters.Gender</td>
                    <td>@characters.Age</td>
                    <td>@characters.Eye_color</td>
                    <td>@characters.Hair_color</td>
                </tr>
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string CharID { get; set; }

    private CharacterList characters;

    protected override async Task OnInitializedAsync()
    {
        characters = await Http.GetFromJsonAsync<CharacterList>("/people/"+CharID);
    }

    public class CharacterList
    {
        public string ID { get; set; }

        public string Name { get; set; }

        public string Gender { get; set; }

        public string Age { get; set; }

        public string Eye_color { get; set; }

        public string Hair_color { get; set; }

        public string Film { get; set; }

        public string Species { get; set; }

        public string Url { get; set; }

    }
}

