@page "/bio/{Id}"
@inherits Movie
@inject HttpClient Http
<h3>Bio</h3>

@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Eye Colour</th>
                <th>Hair Colour</th>
                <th>Species</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in characters)
            {
                <tr>
                    <td>@character.Name</td>
                    <td>@character.Gender</td>
                    <td>@character.Age</td>
                    <td>@character.Eye_color</td>
                    <td>@character.Hair_color</td>
                    <td>@character.Species</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private List<CharacterList> characters = new List<CharacterList>();

    protected override async Task OnInitializedAsync()
    {
        characters = await Http.GetFromJsonAsync<List<CharacterList>>("/people/" + Id);
    }

    public class CharacterList
    {
        public string ID { get; set; }

        public string Name { get; set; }

        public string Gender { get; set; }

        public string Age { get; set; }

        public string Eye_color { get; set; }

        public string Hair_color { get; set; }

        public string[] Films { get; set; }

        public string Species { get; set; }

        public string Url { get; set; }

    }
}

