@page "/moviebio/{FilmId}"
@inject HttpClient Http

@if (films == null)
{
<p><em>Loading...</em></p> 
}else{
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Release Date</th>
            <th>Rotten Tomatoes Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@films.Title</td>
            <td>@films.Description</td>
            <td>@films.Director</td>
            <td>@films.Producer</td>
            <td>@films.Release_date</td>
            <td>@films.Rt_score</td>
        </tr>
    </tbody>
</table>}


@code {
    [Parameter]
    public string FilmId { get; set; }

    private FilmList films;

    protected override async Task OnInitializedAsync()
    {
        films = await Http.GetFromJsonAsync<FilmList>("/films/"+FilmId);
    }

    public class FilmList
    {
        public string Id { get; set; }

        public string Title { get; set; }

        public string Description { get; set; }

        public string Director { get; set; }

        public string Producer { get; set; }

        public string Release_date { get; set; }

        public string Rt_score { get; set; }

    }
}
